.AdsContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addsConnectivityHead {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 8px;
}
